/* Test */
#bundle-proficiency .proficiency-page__content {
  background-color: #1a1b22 !important;
  color: white !important
}

#bundle-proficiency .proficiency-page__main {
  background-color: #1a1b22 !important;
}

.quiz.quiz_type_select .quiz__option-label {
  color: white !important  
}